.Ticket{
    border:1px solid black;
    border-radius:14px;
    width:300px;
    margin-bottom: 15px;
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDNmOWMzZThrM2lzMThmZGtycGF3YW94cHhmc29pNm0zaG00MWx4cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zA20cbw1yn5OKj3YRP/giphy.gif");
}
